torch==2.1.0
torchvision==0.16.0
fastapi
kaleido
python-multipart 
uvicorn
fsspec==2023.6.0
requests==2.31.0
cohere
openai
tiktoken
typing-extensions==4.5.0
jedi==0.19.1
numpy==1.25.2
tensorflow-probability==0.23.0
decorator==4.4.2
absl-py==1.4.0
tornado==6.3.2
pillow==10.0.1
dependency_injector
diffusers
einops
eventlet
facexlib
flask_cors
flask_socketio
flaskwebgui
kornia
omegaconf
pudb
pyreadline3
pytorch-lightning
realesrgan
streamlit
taming-transformers-rom1504
test-tube
torch-fidelity
torchmetrics
transformers
picklescan
python-socketio==5.10.0
getpass_asterisk
huggingface-hub
xformers==0.0.23.dev687
